<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nani">

    <application
        android:name=".Util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.AddCardActivity"></activity>
        <activity android:name=".Activities.PaymentNaniActivity" />
        <activity android:name=".Activities.MyOrdersNani" />
        <activity android:name=".Activities.PaymentBuyerActivity" />
        <activity android:name=".Activities.OrderCancelledActivity" />
        <activity android:name=".Activities.OrderCompletedActivity" />
        <activity android:name=".Activities.MyOrdersBuyer" />
        <activity android:name=".Activities.EditMyPostActivity" />
        <activity android:name=".Activities.OrderDetailsActivity" />
        <activity android:name=".Activities.PaymentActivity" />
        <activity android:name=".Activities.ItemDescriptionActivity" />
        <activity android:name=".Activities.ChooseAddressActivity" />
        <activity android:name=".Activities.EditProfileActivity" />
        <activity android:name=".Activities.HomeBuyerActivity" />
        <activity android:name=".Activities.NotificationsActivity" />
        <activity android:name=".Activities.HomeNaniActivity" />
        <activity android:name=".Activities.OtpVerification" />
        <activity android:name=".Activities.SpecialitiesActivity" />
        <activity android:name=".Activities.BankDetails" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.GetStartedActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>